.title {color: red;}
.title p {color: green;}
p[title^="Привет"] {color: cyan;}
p[href^="http://"] {color: blue;}
p[href^=".html"] {color: blue;}
[tittle*="привет"] {color: pink;}
.top- {color: darkgreen;}